
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Ajout CH</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/Accueil/accueil'">Accueil</a></li>
          <li class="breadcrumb-item"><a [routerLink]="'/listeCentreHospitalier/list-CentreHospitalier'">CH</a></li>
          <li class="breadcrumb-item active">AjoutCh</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile" >
      <div class="row">
        
       
        <div class="col-xl-8">
           <div class="card">
                <form [formGroup]="ChForm" (ngSubmit)="AjouterCH()">
                    <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit CH</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview">Coordonnées</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom de la Structure</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="nom_ch" type="text" class="form-control" id="nom_ch" formControlName="nom_ch">
                                </div>
                            </div>
        
                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="email_ch" type="email" class="form-control" id="email_ch" formControlName="email_ch">
                                </div>
                            </div>
        
                            <div class="row mb-3">
                                <label for="Job" class="col-md-4 col-lg-3 col-form-label" >Siret</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="siret" type="text" class="form-control" id="siret" formControlName="siret">
                                </div>
                            </div>
        
                            <div class="row mb-3">
                                <label for="Country" class="col-md-4 col-lg-3 col-form-label">Telephone</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="telephone" type="text" class="form-control" id="telephone" formControlName="telephone">
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="Job" class="col-md-4 col-lg-3 col-form-label" >Adresse</label>
                                <div class="col-md-8 col-lg-9">
                                    <div #dropdown class="dropdown" (click)="toggleDropdown()">
                                    <button type="button" class="btn btn-light dropdown-toggle border-subtle-blue" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="afficherFormulaireAdresse">
                                    <span *ngIf="!selectedAddress">Choisir une adresse...</span>
                                    <span *ngIf="selectedAddress">
                                        {{ selectedAddress.ville + ' ' + selectedAddress.departement + ' ' + selectedAddress.nomRue + ' ' + selectedAddress.numeroRue }}
                                        <button type="button" class="btn btn-close btn-lg" aria-label="Close" (click)="deselectAddress()"></button>
                                    </span>
                                    </button>
                                    <ul class="dropdown-menu" [class.show]="showDropdown">
                                    <li style="margin: 10px;">
                                        <div class="col-md-8 col-lg-8">
                                        <div class="input-group" style="width: 350px;">
                                            <input type="search" class="form-control fas fa-search with-blue-border" placeholder="Rechercher" [(ngModel)]="searchText" name="searchText" style="width: 300px;">
                                            <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                        </div>   
                                    </li>
                                    <li *ngFor="let adresse of adresses">
                                        <a class="dropdown-item" (click)="selectAddress(adresse)">
                                        {{ adresse.ville }} {{ adresse.departement }} {{ adresse.nomRue }} {{ adresse.numeroRue }}
                                        </a>
                                    </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="tab-pane fade  profile-overview" id="profile-overview">
                        <h5 class="card-title">A propos</h5>
                        <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. 
                            Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. 
                            Fuga sequi sed ea saepe at unde.</p>
                        
                        <h5 class="card-title">Details CH</h5>

                        <div class="row rowprofil">
                            <div class="col-lg-3 col-md-4 label labelprofil">Nom de la Structure </div>
                            <div class="col-lg-9 col-md-8"></div>
                        </div>
                        
                            <div class="row rowprofil">
                            <div class="col-lg-3 col-md-4 label labelprofil">Lieu de Naissance</div>
                            <div class="col-lg-9 col-md-8"></div>
                            </div>

                            <div class="row rowprofil">
                            <div class="col-lg-3 col-md-4 label labelprofil">Date de Naissance</div>
                            <div class="col-lg-9 col-md-8"></div>
                            </div>

                            <div class="row rowprofil">
                            <div class="col-lg-3 col-md-4 label labelprofil">Sexe</div>
                            <div class="col-lg-9 col-md-8"></div>
                            </div>

                            <div class="row rowprofil">
                            <div class="col-lg-3 col-md-4 label labelprofil">Numéro Sécurité Sociale</div>
                            <div class="col-lg-9 col-md-8"></div>
                            </div>
                        </div>
                    
                    </div><!-- End Bordered Tabs -->

                    </div>
                        <div class="card-footer text-muted">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                </form>  
            </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->


