

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Liste des Medecins</h1>
      <div class="col-lg-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/Accueil/accueil'">ACCUEIL</a></li>
          <li class="breadcrumb-item">Liste</li>
          <li class="navmedecin">
            <div class="row mb-3">
              <div class="col-sm-10 col-lg-12">
                <button type="submit" class="btn btn-primary" [routerLink]="'/ajoutMedecin'">+Ajout nouveau médecin</button>
              </div>
            </div>
          </li>
        </ol>
      </nav>
      </div>
    </div><!-- End Page Title -->
<section class="section">
<!--**********************************
    Nav header end
***********************************-->

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">            
				<div class="row">
          <div class="col-lg-12">
            <!-- Default Card  champ de recherche et choix de l'affichage des medecins-->
            <div class="card" style="height: 60%;">
              <div class="card-body py-2">
                <ul class="nav nav-pills" style="margin-top: 0%;">
                  <li class="nav-item">
                    <a href="#grid-view" data-toggle="tab" class="nav-link active" aria-current="page">Vue Grille</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mr-1" href="#list-view" data-toggle="tab">Vue Liste</a>
                  </li>
                  <li class="nav-item ml-auto offset-md-6 justify-content-md-end">
                    <div class="col-md-12 col-lg-12 d-flex"> <!-- Utilisation de col-md-8 pour une longueur plus grande et d-flex pour la flexibilité -->
                      <form class="form-inline mb-1">
                        <div class="form-group">
                          <div class="input-group" style="height: 30px;"> 
                            <input class="form-control form-control-sm with-blue-border fas fa-search" type="search" [(ngModel)]="filterText" placeholder="Rechercher" aria-label="Search" name="filterText">
                            <div class="input-group-append" style="height: 30px;">
                              <span class="input-group-text"><i class="fas fa-search fa-recherche"></i></span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </li>                  
                  
                </ul>
              </div>
            </div>
            
            
            <!-- End Default Card -->     
         </div>
                    <div class="col-lg-12">
                        <div class="row tab-content">
                            <div id="list-view" class="tab-pane fade  col-lg-12">
                                <!-- medecin-search.component.html -->
                                <div class="card">
                                        <h4 class="card-title" style="margin-left: 15px;">Medecins</h4>
                                  <div *ngIf="!(medecins.length > 0)">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                           <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prenom</th>
                                                        <th>Adresse</th>
                                                        <th>Sexe</th>
                                                        <th>Date de Naissance</th>
                                                        <th>Email</th>
                                                        <th>Telephone</th>
                                                        <th>Specialité</th>  
                                                        <th style="min-width: 200px">N° Rpps</th>
                                                        <th>N° Securite Sociale</th>
                                                        <th style="text-align: center;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <tr *ngFor="let medecin of Medecin | search: filterText">
                                                        <td style="min-width: 200px">Dr. {{medecin?.nomMedecin}}</td>
                                                        <td style="min-width: 250px">{{medecin?.prenomMedecin}}</td>
                                                        <td style="min-width: 200px">{{medecin?.adresse?.ville}}</td>
                                                        <td style="min-width: 200px">{{medecin?.sexeMedecin}}</td>    
                                                        <td style="min-width: 250px">{{ medecin?.dateDeNaissanceMedecin| date:'dd-MM-yyyy' }}</td>
                                                        <td style="min-width: 200px">{{medecin?.emailMedecin}}</td>
                                                        <td style="min-width: 200px;">
                                                            <div style="display: flex;">
                                                              <div>{{medecin?.telephoneMedecin_1}}</div>
                                                              <div *ngIf="medecin?.telephoneMedecin_2"> | </div>
                                                              <div *ngIf="medecin?.telephoneMedecin_2">{{medecin?.telephoneMedecin_2}}</div>
                                                            </div>
                                                          </td>                                                       
                                                        <div style="display: flex;">
                                                            <ng-container *ngFor="let specialite of medecin.specialites; let last = last">
                                                              <div>{{specialite.nomSpecialite}}</div>
                                                              <div *ngIf="!last" class="separator">|</div>
                                                            </ng-container>
                                                        </div> 
                                                        <td style="min-width: 200px">{{medecin?.numeroRpps}}</td>
                                                        <td style="min-width: 200px">{{medecin?.numeroSecuriteSocialeMedecin}}</td>

                                                        <td style="min-width: 250px; text-align: center;">
                                                            <a href="assets/js/javascript:void(0);" class="btn btn-sm btn-primary" style="margin: 5px;" ><i class="la la-pencil"></i>Modifier</a>
                                                            <a href="assets/js/javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i>Supprimer</a>
                                                        </td>												
                                                    </tr>
                                                </tbody>
                                            </table>
                                      </div>
                                    </div>
                                  </div>
                                    
                                </div>
                            </div>

                            <div id="grid-view" class="tab-pane active show fade col-lg-12">
                                <div class="row">
                                 <!-- <div *ngIf="!(medecins.length > 0)">-->
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 " *ngFor="let medecin of Medecin | search: filterText" >
                                        <div class="card card-profile" >
                                            <div class="card-header justify-content-end">
                                              
                                            </div>
                                            <div class="card-body pt-2">
                                                <div class="text-center">
                                                  <!--<div class="profile-photo">
                                                    <img src="" width="100" class="img-fluid rounded-circle" alt="">
                                                  </div>-->
                                                  <h3 class="mt-4 mb-1"> Dr. {{medecin?.nomMedecin}}</h3>
                                                  <p class="text-muted">{{medecin?.prenomMedecin}}</p>
                                                  <ul class="list-group mb-3 list-group-flush">
                                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                                      <span>Spécialités :</span>
                                                      <strong>
                                                        <span *ngFor="let specialite of medecin.specialites; let last = last">{{specialite.nomSpecialite}}{{!last ? ' / ' : ''}}</span>
                                                      </strong>
                                                    </li>
                                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                                      <span class="mb-0">N° Telephone 1 :</span>
                                                      <strong>{{medecin?.telephoneMedecin_1}}</strong>
                                                    </li>
                                
                                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                                      <span class="mb-0">Adresse :</span>
                                                      <strong>{{medecin?.adresse?.ville}}</strong>
                                                    </li>
                                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                                      <span class="mb-0">Email:</span>
                                                      <strong>{{medecin?.emailMedecin}}</strong>
                                                    </li>
                                                  </ul>
                                                  <a class="btn btn-outline-primary btn-rounded mt-3 px-4" 
                                                    [routerLink]="['/profilMedecin', medecin?.id]">Voir plus</a>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
          </div> 
        </div>
     </div>
  </div>     
</section>
</main>



